@font-face {
    font-family: 'Museo Sans';
    src: url(./fonts/MuseoSans_900.otf);
}

html, body {
	font-family: 'Nunito', sans-serif !important;
	margin: 0 !important;
	overflow-x: hidden;
	/*background-image: url("../images/gridbg.jpg") !important;*/
	min-width: 370px;
}

.header {
	height: 100vh !important;
	position: relative;
	min-height: 600px;
	max-height: 900px;
}

#wrapper {
	top: 50% !important;
	transform: translateY(-50%) !important;
	position: absolute !important;
	margin: 0 auto !important;
}

.title {
	font-family: 'Museo Sans', sans-serif !important;
	font-weight: 900 !important;
	font-size: 38px !important;
	letter-spacing: 2.5px;
	color: black;
}

.secondaryTitle {
	font-family: 'Nunito', sans-serif !important;
	font-weight: 300 !important;
	color: #212121 !important;
	font-size: 20px !important;
	letter-spacing: 1px;
}

.smallDivider {
	height: 4px;
	background-color: #90BFFF;
	width: 93px;
	margin-top: 40px;
	margin-bottom: 40px;
}

p {
	font-family: 'Nunito', sans-serif !important;
	font-weight: 300 !important;
	line-height: 27px !important;
	font-size: 13.2px !important;
	letter-spacing: .7px;
	color: #676767 !important;
	max-width: 570px;
}